# Image Dataset
dataset/images/
dataset/images_resized/*


nohup.out
.ipynb_checkpoints/*
__pycache__/
images/*


# logs and saved files
savedModels/*
runs/*
log/*
ROC Curves/*
heatmap_output/
bounding_box_images/
outputs_logs/


# Individual files 
thresholds.npy
dataset/README_ChestXray.pdf
dataset/LOG_CHESTXRAY.pdf
dataset/ARXIV_V5_CHESTXRAY.pdf
dataset/FAQ_CHESTXRAY.pdf
Training.ipynb




