dataset/images/*
dataset/images_resized/*
log/*
savedModels/*
nohup.out
.ipynb_checkpoints/*
__pycache__/*

Training.ipynb
runs/*
ROC Curves/*
heatmap_output/
bounding_box_images/
outputs_logs/
thresholds.npy


